<!DOCTYPE html>
<html>
<head>
      <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}" />
  </head>
<body>
  <table>
        <tr>
          <td>
              <div class="button1">
                  <form id = "form" method = 'get' action = "login">
                    <input type = "submit" name = "submit" value = "LOGOUT"/>
                 </form>
              </div>

          </td>
      </tr>
  </table>
  <h1>STUDENT GOVERNMENT ASSOCIATION INVENTORY</h1>
  <table>
        <tr>
          <td>
              <form id = "form" method = 'get' action = "inventory">
                <input type = "submit" name = "submit" value = "BACK"/>
              </form>
          </td>
      </tr>
  </table>

  <h2>EDIT ITEM</h2>
  <div class = "input">
      <form id = "form" method = "post" action = "edit_item">
    <p>Item Name:   <input type="text" name="name" value = {{name}}> </p>
    <p>Description: <input type="text" name="desc" value = {{desc}}> </p>
    <p>Quantity:  <input type="text" name="quantity" value = {{quantity}}> </p>
    <p>Unit: <input type="text" name="unit" value = {{unit}}> </p>
    <p>Storage #:
      <select id="storage_area" name="storage_area" value = {{storage_area}}>
      <option value="Group Activities Center">Group Activities Center</option>
      <option value="Info Desk">Info Desk</option>
    </select>
    </p>
    <input type = "hidden" name = "item_number" value = {{item_number}}>
    <input type="submit" name="submit" value="EDIT ITEM"/>
  </form>
  </div>

</body>
</html>